@charset "utf-8";

html, body{
	margin: 0;
	padding: 0;
	font-family: Arial, Tahoma;
	color: #000;
	background: #F7F6F6;
}

*{
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

#svg-field svg{
    display: block;
    margin: 0 auto;
    border: 1px solid grey;
    box-sizing: border-box;
    overflow: visible;
    margin-top: 20px;
}